.App {
  text-align: center;
  font-family: "Mali", cursive;
  font-family: "Montserrat", sans-serif;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  margin-top: 15px;
  margin-bottom: 5px;
  color: aliceblue;
}
