.WeatherDesign {
  margin-top: 30px;
  margin-left: 18%;
  margin-right: 18%;
  padding-left: 40px;
  padding-top: 10px;
  border: 1px solid rgba(0, 8, 51, 0.227);
  font-family: "Mali", cursive;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(rgba(0, 8, 51, 0.2), rgba(0, 8, 51, 0.227));
  color: aliceblue;
}

.temperature {
  font-size: 60px;
  padding-left: 30%;
  position: relative;
  top: -20px;
}

canvas {
  padding: 10px;
  position: relative;
  top: 17px;
}

.weather-description {
  padding-left: 40%;
  position: relative;
  top: -10px;
}

ul {
  list-style: none;
  position: relative;
  top: -20px;
  font-size: 12px;
  padding-top: 10px;
}

.wind {
  padding-left: 65%;
}

.humidity {
  padding-right: 40%;
}

@media (max-width: 900px) {
  .WeatherDesign {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 30px;
    border: 1px solid black;
    border-radius: 5px;
  }

  .cityname {
    padding-top: 12px;
  }

  .main-weather-icon {
    width: 10px;
  }

  .temperature {
    font-size: 50px;
    padding-left: 0;
    text-align: center;
    padding-top: 25px;
  }

  .weather-description {
    padding-left: 15px;
    top: -20px;
    text-align: center;
  }

  .wind {
    padding-left: 55%;
  }

  .humidity {
    padding-right: 23%;
  }
}
